body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* cell height will need to be dynamically changed based on view screen */
.cell {
  background-color: grey;
  height: 100px; 
  justify-content: center;
  text-align: center;
  line-height: 100px;
}

.gameDetails {
  background-color: bisque;
  justify-content: center;
  text-align: center;
}

.center {
  text-align: center;
}